@{
    ViewBag.Title = "Index";
    ViewBag.MasterPage = "~/Shared/_Layout.cshtml";
}

<div class="row" ng-app="mapApp">
    
    <div class="span10 col-offset-1">
        
        <div ng-controller="mapCntrl">
        
            <form class="form-inline">     
                <input type="text" ng-model="Address"/>
                <button class="btn btn-default" ng-click="Geocode()">Geocode</button> 
            </form> 
            <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" style="height: 400px; display: block; width:400px;"></google-map>
            
        </div>
        </div>


    </div>

