<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css"/>
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-google-maps.js"></script>
    <script type="text/javascript" src="~/Scripts/App/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
